*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.main {
    background-image: linear-gradient(to top, #000000 0%, #b08787 100%);
}

h2 {
    text-decoration: underline;
    background-image: linear-gradient(to top, #cccccc 0%, #ffffff 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-weight: bold;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

.main_holder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    height: 90vh;
    background-image: linear-gradient(to top, #000000 0%, #b08787 100%);
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main_content {
    text-align: center;
    padding-top: 180px;
}

.main_content h1 {
    font-size: 3pc;
}

a img:hover {
    transform: scale(1.5);
    opacity: 80%;
}

a img{
    transition: transform .2s;
    height: 50px;
    width: 50px;
    margin-right: 25px;
    opacity: 40%;
}

#list {
    text-align:left;
}

#portrait{
    height: 300px;
    width: 300px;
}

#robotnist {
    color: #fff;
}

#robotnist:hover {
    color: #f8f01c;
    transition: all 0.5s ease;
    font-size: 1rem;
}

.personal_holder {
    text-align: left;
}

.locations{
    font-size: smaller;
    text-indent: -3em;
    margin-left: 0;
    list-style-type:"";
}



@media screen and (max-width: 80pc) {
    .main_holder {
        display: grid;
        grid-template-columns: auto;
        justify-self: center;
        height: 90vh;
        width: 80%;
        margin: 0 auto;
        font-size: 150%;
        
    }
    .main_content {
        padding-top: 20px;
    }

    #portrait {
        height: 400px;
        width: 400px;
    }

    a img:hover {
        transform: scale(1.5);
    }
    
    a img{
        transition: transform .2s;
        height: 80px;
        width: 80px;
        margin-right: 35px;
    }
    
}


html{
    background-color: #000000;
    color: #fff;
}